Vue.component('update-version', {
    <%- include('./jsParts/componentData'); %>
    props: {
        selectedObject: Object
    },
    watch: {
        selectedObject: function () {
            if(this.selectedObject.ENDPOINT) this.getInfo()
        },
    },
    mounted(){
        if(this.selectedObject.ENDPOINT) this.getInfo()
    },
    methods:{
        <%- include('./jsParts/paramsManipulations'); %>
        updateVersion(){
            if(!this.checkData()) return
            var url = window.location.href
            fetch(url + "updateVersion", {
                method: 'POST',
                body: JSON.stringify(this.info),
                headers:{
                    'Content-Type': 'application/json'
                }
            })
            .then((data) => {
                if(data.status == 200){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Version was updated'
                    })
                    setTimeout(() => {
                       location.reload() 
                    }, 2000);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Some error occured'
                    })
                }
            })
        },
        checkData(){
            if (!(this.info.VERSION_NAME && this.info.ENDPOINT && this.info.SQL_CODE && this.checkParams(this.info.PARAMS)
               && this.info.pool.CONNECT_STRING && this.info.pool.POOL_USER && this.info.pool.POOL_PASSWORD && this.info.pool.POOL_MIN
               && this.info.pool.POOL_MAX && this.info.pool.POOL_TIMEOUT && this.info.pool.POOL_PING_INTERVAL && this.info.pool.QUEUE_MAX
               && this.info.pool.QUEUE_TIMEOUT)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'All fields should be filled. Every "PATH" parameter should be required.'
                })
                return false
            }
            return true
        },
        checkParams(arr){
            var checkP = false
            arr.forEach(el => {
                if (!el.NAME || !el.TYPE || !el.LOCATION || (el.LOCATION == "Path" && !el.IS_REQUIRED) || (el.LOCATION == "Body" && !el.JSON_PATH)) checkP = true
            })
            return !checkP
        },
        <%- include('./jsParts/getInfo'); %>
    },
    template: 
    `
    <div class="mdiv" v-if="this.selectedObject.ENDPOINT">
        <%- include('./htmlParts/mainParams'); %>
        <h2>Pool parameters:</h2>
        <%- include('./htmlParts/poolParams'); %>
        <h2 class="mt-2">Parameters:</h2>
        <%- include('./htmlParts/params'); %>
        <h2>SQL query:</h2>
        <%- include('./htmlParts/sqlCode'); %>
        <h2>Final JSON format:</h2>
        <div style="font-size: 0.8em">Find more information on docs page</div>
        <%- include('./htmlParts/jsonCode'); %>
        <div class="but create mt" @click='updateVersion'>Update selected version</div>
    </div>
    `
})