<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
    <div id="app">
        <div class="buttons">
            <div class="but grey" v-bind:class="{ chosenGrey: chosenMainPage == 'settings'}" @click='chosenMainPage = "settings"'>Settings</div>
            <div class="but grey" style="margin-left: 5px;" v-bind:class="{ chosenGrey: chosenMainPage == 'docs'}" @click='chosenMainPage = "docs"'>Docs</div>
        </div>
        <div class = "settings" v-if="chosenMainPage == 'settings'">
            <div v-on:keyup.enter="checkPassword" class="security" v-if='isModal'>
                <div>
                    <div style="color:white; margin-right: 10px">Введите пароль:</div>
                    <input type="password" v-model='password' style="outline: none">
                </div> 
                <button  @click='checkPassword' style="border: none">Проверить</button>
            </div>
            <h1 v-if="!isModal">Settings</h1>
            <div v-if="!isModal" class="services">
                <div class="service">
                    <div class="endpoint center">ENDPOINT</div>
                    <div class="endpoint center">VERSION_NAME</div>
                    <div class="versionName center">ID</div>
                </div>
                <div class="service" v-bind:class="{ active: selectedObject.VERSION_ID==el.VERSION_ID}" @click="selectedObject=el" v-for="(el, i) in services" :key="i">
                    <div class="endpoint">{{el.ENDPOINT}}</div>
                    <div class="endpoint">{{el.VERSION_NAME}}</div>
                    <div class="versionName">{{el.VERSION_ID}}</div>
                </div>
            </div>
            <div v-if="!isModal" class="buttons">
                <div class="but create" v-bind:class="{ chosen: chosenPage == 'create-new-service'}" @click='chosenPage = "create-new-service"'>Create new</div>
                <div class="but edit" v-bind:class="{ chosen: chosenPage == 'update-service'}" @click='chosenPage = "update-service"'>Create version from selected</div>
                <div class="but edit" v-bind:class="{ chosen: chosenPage == 'update-version'}" @click='chosenPage = "update-version"'>Update selected version</div>
            </div>
            <div v-if="!isModal" class="mainBody">
                <keep-alive>
                    <create-new-service v-if="chosenPage == 'create-new-service'" :services = "services"></create-new-service>
                    <update-service v-if="chosenPage == 'update-service'" :selected-object="selectedObject"></update-service>
                    <update-version v-if="chosenPage == 'update-version'" :selected-object="selectedObject"></update-version>
                </keep-alive>
            </div>
        </div>
        <%- include('./docks'); %>
    </div>
    
    
    <script>
        Vue.config.devtools = true;
        <%- include('./components/createNewService'); %>
        <%- include('./components/updateService'); %>
        <%- include('./components/updateVersion'); %>
        new Vue({
            el: '#app',
            data: {
                chosenPage: "create-new-service",
                chosenMainPage: "settings",
                services: [],
                selectedObject: {},
                password: "",
                isModal: false,
                sqlExStartCode: '<if testParameter="name">',
                sqlExEndCode: ' </if>',
                sqlFullCode: ["SELECT ${age} AS AGe",'<if testParameter="name">','  ,${name} AS name','</if>',',1 AS NUMBERm','FROM REST_WEB_METHODS_PARAMETER','<if testParameter="name">', '  WHERE ${name} = \'someValue\'','</if>'],
                jsFullCode: ['var finalArr = [];','var temp;','result.rows.forEach(el => {','  temp = {','    Age: el.AGE,','    Name: el.NAME,','    customNumber: el.NUMBERM','  }','  finalArr.push(temp)','})','if(!finalArr.length) return res.sendStatus(500)','// or res.status(500).send({errCode: 500}) - you can send any response you want.','res.status(200).send(finalArr)']
            },
            mounted(){
                var url = window.location.href
                fetch(url + "getServices")
                .then(response => {
                  return response.json()
                })
                .then(res => {this.services = res; if(res[0]) this.selectedObject = res[0]})
            },
            methods: {
                checkPassword(){
                    fetch(window.location.href + "checkPassword?pas=" + md5(this.password))
                    .then(res => {
                        if(res.status != 200){
                            return Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Password is incorrect'
                            })
                        }
                        this.isModal = false
                    })
                }
            }
        })

    </script>
</body>
</html>